.banner{
	width: 100%;
	text-align: center;
}
.banner img{
	width: 100%;
}
.wrapper{
	padding: 0.6rem .5rem;
}
.wrapper h3{
	color: #424a5b;
	font-size:16px; 
	line-height: 0.533333rem;
    margin-bottom: 0.4rem;
}
.slogen{
	font-size: 15px;
}
.wrapper p,span{
    font-size: 14px;
    line-height: 0.8rem;
    color: #424a5b;
    margin-bottom: 20px;
}

.wrapper h3:before{
    width: 0.32rem;
    height: 0.493333rem;
	content: '';
	display: inline-block;
	background: url(../images/icon/kfbor.jpg) no-repeat center;
	position: relative;
    top: 0.066667rem;
    margin-right: 0.2rem;
}
.wrapper h3.cf-border:before{
	background: url(../images/icon/cfbor.jpg) no-repeat center;
}
.wrapper h3.px-border:before{
	background: url(../images/icon/pxbor.jpg) no-repeat center;
}
.wrapper h3.ph-border:before{
	background: url(../images/icon/phbor.jpg) no-repeat center;
}
.wrapper h3.jy-border:before{
	background: url(../images/icon/jybor.jpg) no-repeat center;
}
.wrapper h3.zx-border:before{
	background: url(../images/icon/zxbor.jpg) no-repeat center;
}
.wrapper h3.zc-border:before{
	background: url(../images/icon/zcbor.png) no-repeat center;
}
.wrapper .kfcolor{
	color: #23ac38;
}
.wrapper .phcolor{
	color: #fcc900;
}
.wrapper .pxcolor{
	color: #0088dc;
}
.wrapper .jycolor{
	color: #751286;
}
.wrapper .zxcolor{
	color: #0ba29b;
}
.wrapper .cfcolor{
	color: #ce0450;
}
.wrapper .zccolor{
	color:#e50024;
}
.wrapper .line{
	display: block;
	width: 100%;
	height: 1px;
}
/* header-s */
header{
	width:100%;
	height: 48px;
	background: #f5f6f9 url(../images/home/border.png) no-repeat center bottom;
	background-size: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
}
.header-inner{
	margin: 0 .5582rem;
    position: relative;
}
.head-logo{
	width: 3rem;
    float: left;
    height: 1.5873em;
    margin-top: 15px; 
}
.head-logo img{
	width: 100%;
}
.menu-icon{
	width: 14px;
	height: 14px;
	background: url(../images/icon/menu.png) no-repeat center;
	background-size: 100%;
	position: absolute;
	right: 0;
	top: 17px;
}
.menu-icon-close{
	background: url(../images/icon/menu-close.png) no-repeat center;
}
.menu-box{
	width: 100%;
	position: absolute;
	top: 48px;
	background: #D60909;
	padding: .4rem .5582rem;
	z-index: 999;
	opacity: .9;
	display: none;
}
.menu-list li{
	width:100%;
	font-size: 14px;
	border-bottom: solid 1px #d5271a;
	position: relative;
}
.menu-list li:last-child{
	border-bottom:0;
}
.ico{
	width: 13px;
	height: 8px;
	background:url(../images/icon/down.png) no-repeat center;
	background-size: 100%;
	position: absolute;
	right: .2rem;
	top: .3rem;
}
.menu-list li a{
	display: block;
	color: #fff;
	line-height: 1rem;	
}
.menuson{
	padding: 0 .5rem;
	display: none;
}
.menuson a{
	display: block;
	font-size: 12px;
}
/* header-e */
.content-box{
	padding-top: 48px;
}
/* footer-s*/
footer{
	width:100%;
	background: #eaeaea;
	text-align: center;
}
.footer-cont-top{
	padding:.4rem .2rem .2rem;	
	width: 100%;
	display: -webkit-box;
	-webkit-box-pack:center;
}
.footer-cont-top a{
	border-right:solid 1px #4c8ee0;
	color: #919191;
	font-size: 15px;
	line-height: .5rem;
	padding: 0 .6rem;
	-webkit-box-flex:1;
}
.footer-cont-top a:nth-child(2){
	border-right:0
}
p.ICPcode{
	font-size:12px;
	line-height: .6rem;
	color: #919191;
	padding-bottom: .4rem;
}
/* footer-e */