.benefit-main h3{
    color: #424a5b;
    width: 100%;
    line-height: 0.533333rem;
    margin-bottom: 0.4rem;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
}
.benefit-main h3:before{
    width: 0.32rem;
    height: 0.493333rem;
    content: '';
    display: inline-block;
    background: url(../../images/icon/zcbor.jpg) no-repeat center;
    background-size: 100%;
    position: relative;
    top: 0.066667rem;
    margin-right: 0.2rem;
}
.benefit-content-box{
    padding: 0 .5rem;
}
.benefit-content-box div img{
    width: 100%;
}
.gy-tit4{
    font-size: 14px;
    color: #000;
    padding-top: 0.266667rem;
    line-height: 0.453333rem;
}
.gy-tit4:after{
    content: '';
    display: block;
    width: 0.8rem;
    height: 0.2rem;
    background: #51a543;
    margin-top: 0.4rem;
}
.benefit-content-box p.gy-txt{
    font-size: 13px;
    line-height: .6rem;
    padding-top: .4rem;
}